.Main {
  text-align: center;

  margin-top: 2em;

  display: flex;
  flex-wrap: wrap;
}

.TextInput, .TextOutput {
	flex: 1;
  min-width: 250px;
	font-size: 1.2em;

  margin: 0 10px;
}

.TextInput.FullWidth {
  width: 100%;
}

.TextOutput .Output {
	padding: 1.5em 0;

	text-align: left;
	user-select: none;

	cursor: default;
}